
@{
    ViewBag.Title = "WeatherJS";
}

<h2>WeatherJS</h2>

<p id="reply">

</p>
<button>Get Weather</button>

<script>
    $(document).ready(function () {
        $("button").click(function () {
            $.get("http://api.openweathermap.org/data/2.5/weather?q=Cleveland&APPID=01173c00c49e46d41a2f0e4454a42705&units=imperial", function (response) {
                //response parameter contains what is returned in the method you call in the quotes
                //response
                $("reply").text(response);
            });
        });
    });



</script>